<header style="height: 200px" fxLayout="row" fxLayoutAlign="space-between">
  <div fxLayout="row" fxLayoutGap="1rem">
    <img src="assets/nakul-photo.jpg" width="160">
    <div>
      <h1>Nakul Panwar</h1>
      <h4>Sr. Software Engineer at Airtel</h4>
    </div>
  </div>
  <div fxLayout="column" fxLayoutAlign="space-between end">
    <p>er.nakulpanwar@outlook.com <img src="assets/mail_FILL0_wght400_GRAD0_opsz48.png" height="12"></p>
    <p>+91 9034613191 <img src="assets/call_FILL0_wght400_GRAD0_opsz48.png" height="12"></p>
    <p>Gurgaon, India <img src="assets/pin_drop_FILL0_wght400_GRAD0_opsz48.png" height="12"></p>
    <p>linkedin.com/in/nakulpanwar <img src="assets/person_FILL0_wght400_GRAD0_opsz48.png" height="12"></p>
  </div>
</header>
<main fxLayout="row" fxLayoutGap="1rem">
  <div class="left" fxFlex="60%">
    <section>
      <h1>Summary</h1>
      <p>My objective is to implement my exceptional software development skills using new and improved technological tools and techniques for the growth of the organization.</p>
    </section>
    <section>
      <h1>Educational Background</h1>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <h4>Java Certification</h4>
        <h4>2014 - 2015</h4>
      </div>
      <p>Ducat, Noida</p>
      <p>Percentage - NA</p>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <h4>B.Tech (CSE)</h4>
        <h4>2010 - 2014</h4>
      </div>
      <p>HCTM, Kaithal (Kurukshetra University, Kurukshetra)</p>
      <p>Percentage - 63%</p>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <h4>Senior Secondary</h4>
        <h4>2009</h4>
      </div>
      <p>GSS School Bamla, Bhiwani, Haryana</p>
      <p>Percentage - 67%</p>
    </section>
    <section>
      <h1>Work Experience</h1>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <h4>Bharti Airtel Ltd.</h4>
        <h4>Feb. 2021 - Present</h4>
      </div>
      <h5>Sr. Software Engineer</h5>
      <ul>
        <li><b class="primary-text-color">Project</b> — The project is eCAF Prepaid, which aims to provides a digital online experience for a new Airtel Prepaid connection, and other related digital experiences.</li>
        <li><b class="primary-text-color">Responsibilities</b> — My roles and responsibilities are to develop the product features or implementing business requirements together with the team and as an individual contributor as well.</li>
        <li><b class="primary-text-color">Achievements</b> — Awarded as a good team player.</li>
        <li><b class="primary-text-color">Tech Stack</b> — Java, Spring Boot, Microservices with Solace Pub/Sub+ and RabbitMQ, CI/CD, Jenkins, Docker, RedHat OpenShift, Oracle DB, Oracle WebLogic, etc.</li>
      </ul>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <h4>QuickLaunch Pvt. Ltd.</h4>
        <h4>Sept. 2015 - Feb. 2021</h4>
      </div>
      <h5>Java Full Stack Developer, Technical Lead</h5>
      <ul>
        <li><b class="primary-text-color">Project</b> — There are multiple projects including Single Sign On, Password Manager and MFA for higher education domain. QuickLaunch aims to provide the Single Sign On solution to various different applications used for higher education along with features like Password Manager and MFA.</li>
        <li><b class="primary-text-color">Responsibilities</b> — Handling a team of 5-6 peoples and develop the product features or implementing business requirements together with the team and as an individual contributor as well.</li>
        <li><b class="primary-text-color">Achievements</b> — Awarded for doing good quality work and on time delivered tasks.</li>
        <li><b class="primary-text-color">Tech Stack</b> — Java, Spring Boot, Hibernate, MySQL DB, WSO2 Identity Server, Active Directory, Elastic Search, AWS Cloud, etc.</li>
      </ul>
    </section>
    <section>
      <h1>Personal Projects</h1>
      <div fxLayout="row" fxLayoutAlign="space-between">
        <h4>https://findbydev.com</h4>
        <h4>Live</h4>
      </div>
      <p>This project is currently live (in beta) where anyone can write their own stories and publish. This project is aims to deliver better content articles that helps in any kind of learning related to technologies.</p>
    </section>
  </div>
  <div class="right" fxFlex="40%">
    <section>
      <h1>Skills</h1>
      <ul>
        <li><button>Java</button></li>
        <li><button>Spring Boot</button></li>
        <li><button>Hibernate</button></li>
        <li><button>Microservices</button></li>
        <li><button>Rest APIs</button></li>
        <li><button>Solace Pub/Sub+</button></li>
        <li><button>RabbitMQ</button></li>
        <li><button>Apache kafka</button></li>
        <li><button>Elastic Search</button></li>
        <li><button>Active Directory</button></li>
        <li><button>WSO2 Identity Server</button></li>
        <li><button>AWS Cloud</button></li>
        <li><button>Angular</button></li>
        <li><button>Material Design</button></li>
      </ul>
    </section>
    <section>
      <h1>Databases</h1>
      <ul>
        <li><button>Oracle DB</button></li>
        <li><button>MySQL DB</button></li>
      </ul>
    </section>
    <section>
      <h1>Operating Systems</h1>
      <ul>
        <li><button>Windows OS</button></li>
        <li><button>Mac OS</button></li>
        <li><button>Linux OS</button></li>
      </ul>
    </section>
    <section>
      <h1>Other Tools</h1>
      <ul>
        <li><button>Git</button></li>
        <li><button>Maven</button></li>
        <li><button>Intellij IDEA</button></li>
        <li><button>Eclipse</button></li>
      </ul>
    </section>
    <section>
      <h1>Interests</h1>
      <ul>
        <li><button>Curious about new tech</button></li>
        <li><button>Playing cricket</button></li>
      </ul>
    </section>
  </div>
</main>
