/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
body {margin: 2rem 1rem; font-family: Ubuntu, Roboto, "Helvetica Neue", sans-serif;}
h1,h2, h3 , header, .primary-text-color {color: #4db6ac}
main {margin-top: 1rem}
.left {background-color: #F6F9FC; padding: 0 10px}
section h3 {color: #000000}
section div, section div h4, section p, section div h3, section h4, section h5 {margin-top: 0px}
h5 {margin-bottom: -5px}
li {margin-bottom: 8px}
button {padding: 5px 15px; background-color: #4db6ac; color: #ffffff; border: none; font-size: large; border-radius: 4px}
h1 {color: black}
.left section div h4 {color: #4db6ac}
.gap-1rem {margin-bottom: 1rem}
.right section {margin-bottom: 2rem}
